<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>anagrams</key>
		<array>
			<array>
				<string>narreg</string>
				<string>garner</string>
			</array>
			<array>
				<string>teajmics</string>
				<string>majestic</string>
			</array>
			<array>
				<string>lamcomun</string>
				<string>communal</string>
			</array>
			<array>
				<string>poseus</string>
				<string>spouse</string>
			</array>
			<array>
				<string>epngso</string>
				<string>sponge</string>
			</array>
			<array>
				<string>poriascd</string>
				<string>sporadic</string>
			</array>
			<array>
				<string>graanmreent</string>
				<string>arrangement</string>
			</array>
			<array>
				<string>excani</string>
				<string>axenic</string>
			</array>
			<array>
				<string>slmibeh</string>
				<string>blemish</string>
			</array>
			<array>
				<string>cdasure</string>
				<string>crusade</string>
			</array>
			<array>
				<string>gthibl</string>
				<string>blight</string>
			</array>
			<array>
				<string>suteginnashbdliii</string>
				<string>indistinguishable</string>
			</array>
			<array>
				<string>ryaillutv</string>
				<string>virtually</string>
			</array>
			<array>
				<string>ametrn</string>
				<string>marten</string>
			</array>
			<array>
				<string>neegscva</string>
				<string>scavenge</string>
			</array>
			<array>
				<string>anerednig</string>
				<string>grenadine</string>
			</array>
			<array>
				<string>acees</string>
				<string>cease</string>
			</array>
			<array>
				<string>abyrgb</string>
				<string>grabby</string>
			</array>
			<array>
				<string>gonraj</string>
				<string>jargon</string>
			</array>
			<array>
				<string>lvarxga</string>
				<string>gravlax</string>
			</array>
			<array>
				<string>urnedl</string>
				<string>nurdle</string>
			</array>
			<array>
				<string>rsak</string>
				<string>sark</string>
			</array>
			<array>
				<string>eesla</string>
				<string>lease</string>
			</array>
			<array>
				<string>bpdecsiael</string>
				<string>despicable</string>
			</array>
			<array>
				<string>heuosni</string>
				<string>heinous</string>
			</array>
			<array>
				<string>ncoemtpt</string>
				<string>contempt</string>
			</array>
			<array>
				<string>lspiaales</string>
				<string>palliasse</string>
			</array>
			<array>
				<string>mntaeh</string>
				<string>anthem</string>
			</array>
			<array>
				<string>tpnreha</string>
				<string>panther</string>
			</array>
			<array>
				<string>arhks</string>
				<string>shark</string>
			</array>
			<array>
				<string>mdoeanerp</string>
				<string>promenade</string>
			</array>
			<array>
				<string>lcslseeu</string>
				<string>clueless</string>
			</array>
			<array>
				<string>rial</string>
				<string>lair</string>
			</array>
			<array>
				<string>naem</string>
				<string>mane</string>
			</array>
			<array>
				<string>ellanf</string>
				<string>fallen</string>
			</array>
			<array>
				<string>drmemaala</string>
				<string>marmalade</string>
			</array>
			<array>
				<string>reecsa</string>
				<string>crease</string>
			</array>
			<array>
				<string>enecdecr</string>
				<string>credence</string>
			</array>
			<array>
				<string>apesel</string>
				<string>please</string>
			</array>
			<array>
				<string>goanm</string>
				<string>mango</string>
			</array>
			<array>
				<string>pelpa</string>
				<string>apple</string>
			</array>
			<array>
				<string>hswniaca</string>
				<string>chainsaw</string>
			</array>
			<array>
				<string>soolt</string>
				<string>tools</string>
			</array>
			<array>
				<string>amermh</string>
				<string>hammer</string>
			</array>
			<array>
				<string>artrcot</string>
				<string>tractor</string>
			</array>
			<array>
				<string>hlisl</string>
				<string>hills</string>
			</array>
			<array>
				<string>elsoh</string>
				<string>holes</string>
			</array>
			<array>
				<string>emlsay</string>
				<string>measly</string>
			</array>
			<array>
				<string>antciit</string>
				<string>titanic</string>
			</array>
			<array>
				<string>ilnprcpia</string>
				<string>principal</string>
			</array>
			<array>
				<string>gip</string>
				<string>pig</string>
			</array>
			<array>
				<string>tmdhoociy</string>
				<string>dichotomy</string>
			</array>
			<array>
				<string>imrieamt</string>
				<string>maritime</string>
			</array>
			<array>
				<string>uanylonimsu</string>
				<string>unanimously</string>
			</array>
			<array>
				<string>sheovl</string>
				<string>shovel</string>
			</array>
			<array>
				<string>isodunar</string>
				<string>dinosaur</string>
			</array>
			<array>
				<string>pzdretoia</string>
				<string>trapezoid</string>
			</array>
			<array>
				<string>ecelncri</string>
				<string>encircle</string>
			</array>
			<array>
				<string>sieeg</string>
				<string>siege</string>
			</array>
			<array>
				<string>lanmay</string>
				<string>layman</string>
			</array>
			<array>
				<string>atirl</string>
				<string>trial</string>
			</array>
			<array>
				<string>eineprntt</string>
				<string>pertinent</string>
			</array>
			<array>
				<string>ecircve</string>
				<string>crevice</string>
			</array>
			<array>
				<string>nabr</string>
				<string>barn</string>
			</array>
			<array>
				<string>omners</string>
				<string>sermon</string>
			</array>
			<array>
				<string>irfocei</string>
				<string>orifice</string>
			</array>
			<array>
				<string>tceraeru</string>
				<string>creature</string>
			</array>
			<array>
				<string>rreeamtup</string>
				<string>premature</string>
			</array>
			<array>
				<string>umtraae</string>
				<string>amateur</string>
			</array>
			<array>
				<string>utltre</string>
				<string>turtle</string>
			</array>
			<array>
				<string>ofx</string>
				<string>fox</string>
			</array>
			<array>
				<string>aritlalgo</string>
				<string>alligator</string>
			</array>
			<array>
				<string>ggraanunat</string>
				<string>gargantuan</string>
			</array>
			<array>
				<string>usrrpise</string>
				<string>surprise</string>
			</array>
			<array>
				<string>pelvdoe</string>
				<string>develop</string>
			</array>
			<array>
				<string>trcscotinuno</string>
				<string>construction</string>
			</array>
			<array>
				<string>rudebli</string>
				<string>builder</string>
			</array>
			<array>
				<string>rchsu</string>
				<string>crush</string>
			</array>
			<array>
				<string>cpeal</string>
				<string>place</string>
			</array>
			<array>
				<string>usreaelp</string>
				<string>pleasure</string>
			</array>
			<array>
				<string>athriyuot</string>
				<string>authority</string>
			</array>
			<array>
				<string>erstki</string>
				<string>strike</string>
			</array>
			<array>
				<string>suubde</string>
				<string>subdue</string>
			</array>
			<array>
				<string>ramneeitt</string>
				<string>terminate</string>
			</array>
			<array>
				<string>efdl</string>
				<string>fled</string>
			</array>
			<array>
				<string>prnoopc</string>
				<string>popcorn</string>
			</array>
			<array>
				<string>lival</string>
				<string>villa</string>
			</array>
			<array>
				<string>tltogansoploei</string>
				<string>paleontologist</string>
			</array>
			<array>
				<string>vgnirca</string>
				<string>craving</string>
			</array>
			<array>
				<string>nwrein</string>
				<string>winner</string>
			</array>
			<array>
				<string>irsecu</string>
				<string>cruise</string>
			</array>
			<array>
				<string>bhsitlpeat</string>
				<string>battleship</string>
			</array>
			<array>
				<string>bmirensua</string>
				<string>submarine</string>
			</array>
			<array>
				<string>deugournnrd</string>
				<string>underground</string>
			</array>
			<array>
				<string>etuddli</string>
				<string>diluted</string>
			</array>
			<array>
				<string>rylrea</string>
				<string>rarely</string>
			</array>
			<array>
				<string>aodl</string>
				<string>load</string>
			</array>
			<array>
				<string>ertpias</string>
				<string>pirates</string>
			</array>
			<array>
				<string>edrlcebi</string>
				<string>credible</string>
			</array>
			<array>
				<string>iuesorgscila</string>
				<string>sacrilegious</string>
			</array>
			<array>
				<string>tcysmanoin</string>
				<string>sanctimony</string>
			</array>
			<array>
				<string>almor</string>
				<string>moral</string>
			</array>
			<array>
				<string>soreiupr</string>
				<string>superior</string>
			</array>
			<array>
				<string>rfnoiier</string>
				<string>inferior</string>
			</array>
			<array>
				<string>iunncgn</string>
				<string>cunning</string>
			</array>
			<array>
				<string>gereda</string>
				<string>geared</string>
			</array>
			<array>
				<string>ayplflu</string>
				<string>playful</string>
			</array>
			<array>
				<string>rrteiohcla</string>
				<string>rhetorical</string>
			</array>
			<array>
				<string>ytaberal</string>
				<string>betrayal</string>
			</array>
			<array>
				<string>ehta</string>
				<string>hate</string>
			</array>
			<array>
				<string>ninlrcyata</string>
				<string>tyrannical</string>
			</array>
			<array>
				<string>esdep</string>
				<string>speed</string>
			</array>
			<array>
				<string>ryacnuh</string>
				<string>raunchy</string>
			</array>
			<array>
				<string>crteilashy</string>
				<string>hysterical</string>
			</array>
			<array>
				<string>inhccgnru</string>
				<string>crunching</string>
			</array>
			<array>
				<string>eyasmrt</string>
				<string>mastery</string>
			</array>
			<array>
				<string>hercary</string>
				<string>archery</string>
			</array>
			<array>
				<string>ifgnight</string>
				<string>fighting</string>
			</array>
			<array>
				<string>rsowds</string>
				<string>swords</string>
			</array>
			<array>
				<string>mcynorha</string>
				<string>monarchy</string>
			</array>
			<array>
				<string>rmriro</string>
				<string>mirror</string>
			</array>
			<array>
				<string>lcuusaomir</string>
				<string>miraculous</string>
			</array>
			<array>
				<string>destobew</string>
				<string>bestowed</string>
			</array>
			<array>
				<string>wcdaor</string>
				<string>coward</string>
			</array>
			<array>
				<string>settiuted</string>
				<string>destitute</string>
			</array>
			<array>
				<string>iuctamalme</string>
				<string>immaculate</string>
			</array>
			<array>
				<string>cdeued</string>
				<string>deduce</string>
			</array>
			<array>
				<string>eicdun</string>
				<string>induce</string>
			</array>
			<array>
				<string>poroscciuna</string>
				<string>cornucopias</string>
			</array>
			<array>
				<string>opsupom</string>
				<string>pompous</string>
			</array>
			<array>
				<string>owpelruf</string>
				<string>powerful</string>
			</array>
			<array>
				<string>gadnnmi</string>
				<string>damning</string>
			</array>
			<array>
				<string>mmhoamt</string>
				<string>mammoth</string>
			</array>
			<array>
				<string>riegt</string>
				<string>tiger</string>
			</array>
			<array>
				<string>sodluc</string>
				<string>clouds</string>
			</array>
			<array>
				<string>stim</string>
				<string>mist</string>
			</array>
			<array>
				<string>ploaedr</string>
				<string>leopard</string>
			</array>
			<array>
				<string>cnusniuoo</string>
				<string>innocuous</string>
			</array>
			<array>
				<string>oariiuhsl</string>
				<string>hilarious</string>
			</array>
			<array>
				<string>sopkoy</string>
				<string>spooky</string>
			</array>
			<array>
				<string>deraknss</string>
				<string>darkness</string>
			</array>
			<array>
				<string>rnveogesi</string>
				<string>sovereign</string>
			</array>
			<array>
				<string>oannti</string>
				<string>nation</string>
			</array>
			<array>
				<string>ptmecour</string>
				<string>computer</string>
			</array>
			<array>
				<string>dcteclaaree</string>
				<string>accelerated</string>
			</array>
			<array>
				<string>olcesitana</string>
				<string>escalation</string>
			</array>
			<array>
				<string>eenoragtr</string>
				<string>generator</string>
			</array>
			<array>
				<string>liittarnungoa</string>
				<string>triangulation</string>
			</array>
			<array>
				<string>eobuiahvr</string>
				<string>behaviour</string>
			</array>
			<array>
				<string>nuigierts</string>
				<string>intrigues</string>
			</array>
			<array>
				<string>isenug</string>
				<string>genius</string>
			</array>
			<array>
				<string>uikqr</string>
				<string>quirk</string>
			</array>
			<array>
				<string>oouscncli</string>
				<string>occlusion</string>
			</array>
			<array>
				<string>acdusoiua</string>
				<string>audacious</string>
			</array>
			<array>
				<string>rmpiomput</string>
				<string>impromptu</string>
			</array>
			<array>
				<string>oatsacrbd</string>
				<string>broadcast</string>
			</array>
			<array>
				<string>ariblmng</string>
				<string>rambling</string>
			</array>
			<array>
				<string>neeuaoqicnlsnti</string>
				<string>inconsequential</string>
			</array>
			<array>
				<string>usopoic</string>
				<string>copious</string>
			</array>
			<array>
				<string>inoosem</string>
				<string>noisome</string>
			</array>
			<array>
				<string>rrepoefc</string>
				<string>perforce</string>
			</array>
			<array>
				<string>canhenhm</string>
				<string>henchman</string>
			</array>
			<array>
				<string>lcehap</string>
				<string>chapel</string>
			</array>
			<array>
				<string>rsuuosurs</string>
				<string>susurrous</string>
			</array>
			<array>
				<string>potcnritaiay</string>
				<string>anticipatory</string>
			</array>
			<array>
				<string>expaelcut</string>
				<string>exculpate</string>
			</array>
			<array>
				<string>emomten</string>
				<string>memento</string>
			</array>
			<array>
				<string>fyotreolom</string>
				<string>tomfoolery</string>
			</array>
			<array>
				<string>lsnielgp</string>
				<string>spelling</string>
			</array>
			<array>
				<string>isotuacu</string>
				<string>cautious</string>
			</array>
			<array>
				<string>aryepdotr</string>
				<string>predatory</string>
			</array>
			<array>
				<string>ccpnrite</string>
				<string>precinct</string>
			</array>
			<array>
				<string>inscucct</string>
				<string>succinct</string>
			</array>
			<array>
				<string>luceunsct</string>
				<string>succulent</string>
			</array>
			<array>
				<string>nduiosremhal</string>
				<string>malnourished</string>
			</array>
			<array>
				<string>esupserr</string>
				<string>pressure</string>
			</array>
			<array>
				<string>ntvaac</string>
				<string>vacant</string>
			</array>
			<array>
				<string>ierntrtcclaa</string>
				<string>recalcitrant</string>
			</array>
			<array>
				<string>loybatsniet</string>
				<string>obstinately</string>
			</array>
			<array>
				<string>cidftlfui</string>
				<string>difficult</string>
			</array>
			<array>
				<string>gaeanm</string>
				<string>manage</string>
			</array>
			<array>
				<string>vrnpeoises</string>
				<string>responsive</string>
			</array>
			<array>
				<string>tetnmarte</string>
				<string>treatment</string>
			</array>
			<array>
				<string>tintrresa</string>
				<string>restraint</string>
			</array>
			<array>
				<string>tfindae</string>
				<string>defiant</string>
			</array>
			<array>
				<string>eofrmr</string>
				<string>reform</string>
			</array>
			<array>
				<string>tldlaes</string>
				<string>stalled</string>
			</array>
			<array>
				<string>emiad</string>
				<string>aimed</string>
			</array>
			<array>
				<string>ehrdncli</string>
				<string>children</string>
			</array>
			<array>
				<string>slatte</string>
				<string>latest</string>
			</array>
			<array>
				<string>ipartlcca</string>
				<string>practical</string>
			</array>
			<array>
				<string>nimootnfira</string>
				<string>information</string>
			</array>
			<array>
				<string>dsanrpugie</string>
				<string>persuading</string>
			</array>
			<array>
				<string>coaeretop</string>
				<string>cooperate</string>
			</array>
			<array>
				<string>baruurceast</string>
				<string>bureaucrats</string>
			</array>
			<array>
				<string>teahol</string>
				<string>loathe</string>
			</array>
			<array>
				<string>ohdanmsi</string>
				<string>admonish</string>
			</array>
			<array>
				<string>oanbgilotsi</string>
				<string>obligations</string>
			</array>
			<array>
				<string>oaiadvsplpr</string>
				<string>disapproval</string>
			</array>
			<array>
				<string>lidyernf</string>
				<string>friendly</string>
			</array>
			<array>
				<string>ietndaic</string>
				<string>indicate</string>
			</array>
			<array>
				<string>ginrnaw</string>
				<string>warning</string>
			</array>
			<array>
				<string>sareten</string>
				<string>earnest</string>
			</array>
			<array>
				<string>dvceai</string>
				<string>advice</string>
			</array>
			<array>
				<string>tcmeouanenerg</string>
				<string>encouragement</string>
			</array>
			<array>
				<string>cbeemar</string>
				<string>embrace</string>
			</array>
			<array>
				<string>roavluos</string>
				<string>valorous</string>
			</array>
			<array>
				<string>dnblseos</string>
				<string>boldness</string>
			</array>
			<array>
				<string>itibiexhng</string>
				<string>exhibiting</string>
			</array>
			<array>
				<string>meidnttrineoa</string>
				<string>determination</string>
			</array>
			<array>
				<string>miinlpyg</string>
				<string>implying</string>
			</array>
			<array>
				<string>encyednt</string>
				<string>tendency</string>
			</array>
			<array>
				<string>rcaaihc</string>
				<string>archaic</string>
			</array>
			<array>
				<string>adsesutnl</string>
				<string>dauntless</string>
			</array>
			<array>
				<string>eeslsafr</string>
				<string>fearless</string>
			</array>
			<array>
				<string>oimustro</string>
				<string>timorous</string>
			</array>
			<array>
				<string>ugorlnf</string>
				<string>furlong</string>
			</array>
			<array>
				<string>oecrnuteden</string>
				<string>encountered</string>
			</array>
			<array>
				<string>fnrceeeer</string>
				<string>reference</string>
			</array>
			<array>
				<string>nerrun</string>
				<string>runner</string>
			</array>
			<array>
				<string>prnesoobtudoh</string>
				<string>boustrophedon</string>
			</array>
			<array>
				<string>acleioogarsht</string>
				<string>archaeologist</string>
			</array>
			<array>
				<string>enasgerinot</string>
				<string>generations</string>
			</array>
			<array>
				<string>ledevire</string>
				<string>relieved</string>
			</array>
			<array>
				<string>emtmhrsuai</string>
				<string>rheumatism</string>
			</array>
			<array>
				<string>nortciinpsi</string>
				<string>inscription</string>
			</array>
			<array>
				<string>amlapyr</string>
				<string>palmary</string>
			</array>
			<array>
				<string>ynomsirsai</string>
				<string>missionary</string>
			</array>
			<array>
				<string>onvle</string>
				<string>novel</string>
			</array>
			<array>
				<string>ulcertu</string>
				<string>culture</string>
			</array>
			<array>
				<string>etctrneau</string>
				<string>utterance</string>
			</array>
			<array>
				<string>uonagnstidt</string>
				<string>outstanding</string>
			</array>
			<array>
				<string>gutrlesg</string>
				<string>struggle</string>
			</array>
			<array>
				<string>eottrnusornicc</string>
				<string>reconstruction</string>
			</array>
			<array>
				<string>cderatf</string>
				<string>crafted</string>
			</array>
			<array>
				<string>rysocru</string>
				<string>cursory</string>
			</array>
			<array>
				<string>baemrgu</string>
				<string>umbrage</string>
			</array>
			<array>
				<string>dmaonrt</string>
				<string>mordant</string>
			</array>
			<array>
				<string>nsewi</string>
				<string>sinew</string>
			</array>
			<array>
				<string>nreioirt</string>
				<string>interior</string>
			</array>
			<array>
				<string>ortxiree</string>
				<string>exterior</string>
			</array>
			<array>
				<string>eanrmn</string>
				<string>manner</string>
			</array>
			<array>
				<string>sutoppnrig</string>
				<string>supporting</string>
			</array>
			<array>
				<string>siigatnbliz</string>
				<string>stabilizing</string>
			</array>
			<array>
				<string>ineovcn</string>
				<string>connive</string>
			</array>
			<array>
				<string>oootippins</string>
				<string>opposition</string>
			</array>
			<array>
				<string>oraingenc</string>
				<string>ignorance</string>
			</array>
			<array>
				<string>seddcdeen</string>
				<string>descended</string>
			</array>
			<array>
				<string>rnoepisc</string>
				<string>conspire</string>
			</array>
			<array>
				<string>rinsepi</string>
				<string>inspire</string>
			</array>
			<array>
				<string>tytpe</string>
				<string>petty</string>
			</array>
			<array>
				<string>esttou</string>
				<string>outset</string>
			</array>
			<array>
				<string>nemrathc</string>
				<string>merchant</string>
			</array>
			<array>
				<string>ehtlsibsa</string>
				<string>establish</string>
			</array>
			<array>
				<string>lgntiitey</string>
				<string>gentility</string>
			</array>
			<array>
				<string>pnarotiisa</string>
				<string>aspiration</string>
			</array>
			<array>
				<string>atnfoaticfe</string>
				<string>affectation</string>
			</array>
			<array>
				<string>icalsto</string>
				<string>stoical</string>
			</array>
			<array>
				<string>iuettlcaap</string>
				<string>capitulate</string>
			</array>
			<array>
				<string>btarraieon</string>
				<string>aberration</string>
			</array>
			<array>
				<string>enaegreetd</string>
				<string>degenerate</string>
			</array>
			<array>
				<string>ptuiesm</string>
				<string>impetus</string>
			</array>
			<array>
				<string>nhieatoc</string>
				<string>inchoate</string>
			</array>
		</array>
		<key>pointsPerTile</key>
		<integer>10</integer>
	</dict>
</plist>
