<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anagrams</key>
	<array>
		<array>
			<string>eth</string>
			<string>the</string>
		</array>
		<array>
			<string>hlloe</string>
			<string>hello</string>
		</array>
		<array>
			<string>wdnfeolur</string>
			<string>wonderful</string>
		</array>
		<array>
			<string>meni</string>
			<string>mine</string>
		</array>
		<array>
			<string>vrye</string>
			<string>very</string>
		</array>
		<array>
			<string>soubovi</string>
			<string>obvious</string>
		</array>
		<array>
			<string>rallye</string>
			<string>really</string>
		</array>
		<array>
			<string>veern</string>
			<string>never</string>
		</array>
		<array>
			<string>cera</string>
			<string>care</string>
		</array>
		<array>
			<string>humc</string>
			<string>much</string>
		</array>
		<array>
			<string>poeh</string>
			<string>hope</string>
		</array>
		<array>
			<string>mystu</string>
			<string>musty</string>
		</array>
		<array>
			<string>nicgod</string>
			<string>coding</string>
		</array>
		<array>
			<string>dba</string>
			<string>bad</string>
		</array>
		<array>
			<string>mvepirtii</string>
			<string>primitive</string>
		</array>
		<array>
			<string>babler</string>
			<string>rabble</string>
		</array>
		<array>
			<string>sotteedb</string>
			<string>besotted</string>
		</array>
		<array>
			<string>sutaih</string>
			<string>hiatus</string>
		</array>
		<array>
			<string>pondfrou</string>
			<string>profound</string>
		</array>
		<array>
			<string>gggtearea</string>
			<string>aggregate</string>
		</array>
		<array>
			<string>antped</string>
			<string>pedant</string>
		</array>
		<array>
			<string>disnisuoi</string>
			<string>insidious</string>
		</array>
		<array>
			<string>bernvteo</string>
			<string>verboten</string>
		</array>
		<array>
			<string>mearepet</string>
			<string>permeate</string>
		</array>
		<array>
			<string>cerpityascip</string>
			<string>perspicacity</string>
		</array>
		<array>
			<string>ceiv</string>
			<string>vice</string>
		</array>
		<array>
			<string>sstcuiiamnoon</string>
			<string>sanctimonious</string>
		</array>
		<array>
			<string>zosenreduv</string>
			<string>rendezvous</string>
		</array>
		<array>
			<string>rimess</string>
			<string>remiss</string>
		</array>
		<array>
			<string>lurreptitioussy</string>
			<string>surreptitiously</string>
		</array>
		<array>
			<string>cusoncpiosu</string>
			<string>conspicuous</string>
		</array>
		<array>
			<string>eluntaxt</string>
			<string>exultant</string>
		</array>
		<array>
			<string>sfufice</string>
			<string>suffice</string>
		</array>
		<array>
			<string>pmustuous</string>
			<string>sumptuous</string>
		</array>
		<array>
			<string>stronichii</string>
			<string>histrionic</string>
		</array>
		<array>
			<string>feetd</string>
			<string>feted</string>
		</array>
		<array>
			<string>nionot</string>
			<string>notion</string>
		</array>
		<array>
			<string>diaputeer</string>
			<string>repudiate</string>
		</array>
		<array>
			<string>euttaivp</string>
			<string>putative</string>
		</array>
		<array>
			<string>artilucate</string>
			<string>articulate</string>
		</array>
		<array>
			<string>voferousci</string>
			<string>vociferous</string>
		</array>
		<array>
			<string>haleing</string>
			<string>healing</string>
		</array>
		<array>
			<string>aes</string>
			<string>sea</string>
		</array>
		<array>
			<string>mite</string>
			<string>time</string>
		</array>
		<array>
			<string>polerattair</string>
			<string>proletariat</string>
		</array>
		<array>
			<string>tae</string>
			<string>tea</string>
		</array>
		<array>
			<string>hosenlty</string>
			<string>honestly</string>
		</array>
		<array>
			<string>eelibve</string>
			<string>believe</string>
		</array>
		<array>
			<string>slaty</string>
			<string>salty</string>
		</array>
		<array>
			<string>lohy</string>
			<string>holy</string>
		</array>
		<array>
			<string>haeevnly</string>
			<string>heavenly</string>
		</array>
		<array>
			<string>theet</string>
			<string>teeth</string>
		</array>
		<array>
			<string>mothu</string>
			<string>mouth</string>
		</array>
		<array>
			<string>gunoet</string>
			<string>tongue</string>
		</array>
		<array>
			<string>mope</string>
			<string>poem</string>
		</array>
		<array>
			<string>mnhy</string>
			<string>hymn</string>
		</array>
		<array>
			<string>sonsicuoc</string>
			<string>conscious</string>
		</array>
		<array>
			<string>lowb</string>
			<string>blow</string>
		</array>
		<array>
			<string>dimn</string>
			<string>mind</string>
		</array>
		<array>
			<string>thaticep</string>
			<string>pathetic</string>
		</array>
		<array>
			<string>mailan</string>
			<string>animal</string>
		</array>
		<array>
			<string>tearg</string>
			<string>great</string>
		</array>
		<array>
			<string>gater</string>
			<string>grate</string>
		</array>
		<array>
			<string>tame</string>
			<string>mate</string>
		</array>
		<array>
			<string>btorreh</string>
			<string>brother</string>
		</array>
		<array>
			<string>tierss</string>
			<string>sister</string>
		</array>
		<array>
			<string>motehr</string>
			<string>mother</string>
		</array>
		<array>
			<string>herfat</string>
			<string>father</string>
		</array>
		<array>
			<string>voel</string>
			<string>love</string>
		</array>
		<array>
			<string>tineneval</string>
			<string>valentine</string>
		</array>
		<array>
			<string>shiptionaler</string>
			<string>relationship</string>
		</array>
		<array>
			<string>miedarr</string>
			<string>married</string>
		</array>
		<array>
			<string>gorundgoh</string>
			<string>groundhog</string>
		</array>
		<array>
			<string>waehert</string>
			<string>weather</string>
		</array>
		<array>
			<string>srpign</string>
			<string>spring</string>
		</array>
		<array>
			<string>witner</string>
			<string>winter</string>
		</array>
		<array>
			<string>fotoblal</string>
			<string>football</string>
		</array>
		<array>
			<string>hemlet</string>
			<string>helmet</string>
		</array>
		<array>
			<string>flied</string>
			<string>field</string>
		</array>
		<array>
			<string>rayds</string>
			<string>yards</string>
		</array>
		<array>
			<string>regen</string>
			<string>green</string>
		</array>
		<array>
			<string>aints</string>
			<string>saint</string>
		</array>
		<array>
			<string>trickpa</string>
			<string>patrick</string>
		</array>
		<array>
			<string>tafuleubi</string>
			<string>beautiful</string>
		</array>
		<array>
			<string>veil</string>
			<string>live</string>
		</array>
		<array>
			<string>grogseou</string>
			<string>gorgeous</string>
		</array>
		<array>
			<string>monemt</string>
			<string>moment</string>
		</array>
		<array>
			<string>frovigen</string>
			<string>forgiven</string>
		</array>
		<array>
			<string>seefnore</string>
			<string>foreseen</string>
		</array>
		<array>
			<string>rauge</string>
			<string>argue</string>
		</array>
		<array>
			<string>sholdeur</string>
			<string>shoulder</string>
		</array>
		<array>
			<string>plaicmon</string>
			<string>complain</string>
		</array>
		<array>
			<string>bralteece</string>
			<string>celebrate</string>
		</array>
		<array>
			<string>rainb</string>
			<string>brain</string>
		</array>
		<array>
			<string>logitry</string>
			<string>trilogy</string>
		</array>
		<array>
			<string>sawmeeo</string>
			<string>awesome</string>
		</array>
		<array>
			<string>bleumrc</string>
			<string>crumble</string>
		</array>
		<array>
			<string>piplingrc</string>
			<string>crippling</string>
		</array>
		<array>
			<string>blingsi</string>
			<string>sibling</string>
		</array>
		<array>
			<string>enasimostuuyll</string>
			<string>simultaneously</string>
		</array>
		<array>
			<string>ymaepht</string>
			<string>empathy</string>
		</array>
		<array>
			<string>pysmthay</string>
			<string>sympathy</string>
		</array>
		<array>
			<string>crueafl</string>
			<string>careful</string>
		</array>
		<array>
			<string>stacteic</string>
			<string>ecstatic</string>
		</array>
		<array>
			<string>nardg</string>
			<string>grand</string>
		</array>
		<array>
			<string>sepcail</string>
			<string>special</string>
		</array>
		<array>
			<string>liivfy</string>
			<string>vilify</string>
		</array>
		<array>
			<string>restra</string>
			<string>arrest</string>
		</array>
		<array>
			<string>ylngi</string>
			<string>lying</string>
		</array>
		<array>
			<string>bngeigg</string>
			<string>begging</string>
		</array>
		<array>
			<string>ridte</string>
			<string>tired</string>
		</array>
		<array>
			<string>pheetlan</string>
			<string>elephant</string>
		</array>
		<array>
			<string>primscuouos</string>
			<string>promiscuous</string>
		</array>
		<array>
			<string>ordinatrexary</string>
			<string>extraordinary</string>
		</array>
		<array>
			<string>lokbc</string>
			<string>block</string>
		</array>
		<array>
			<string>lationsav</string>
			<string>salvation</string>
		</array>
		<array>
			<string>plomcex</string>
			<string>complex</string>
		</array>
		<array>
			<string>corendhemp</string>
			<string>comprehend</string>
		</array>
		<array>
			<string>stuteitin</string>
			<string>institute</string>
		</array>
		<array>
			<string>custintteo</string>
			<string>constitute</string>
		</array>
		<array>
			<string>aginmr</string>
			<string>margin</string>
		</array>
		<array>
			<string>zarcy</string>
			<string>crazy</string>
		</array>
		<array>
			<string>gitymh</string>
			<string>mighty</string>
		</array>
		<array>
			<string>tinhg</string>
			<string>night</string>
		</array>
		<array>
			<string>ginomrn</string>
			<string>morning</string>
		</array>
		<array>
			<string>nishe</string>
			<string>shine</string>
		</array>
		<array>
			<string>starem</string>
			<string>master</string>
		</array>
		<array>
			<string>tensimt</string>
			<string>mittens</string>
		</array>
		<array>
			<string>timatige</string>
			<string>mitigate</string>
		</array>
		<array>
			<string>iagnlts</string>
			<string>lasting</string>
		</array>
		<array>
			<string>irrampy</string>
			<string>primary</string>
		</array>
		<array>
			<string>erus</string>
			<string>sure</string>
		</array>
		<array>
			<string>caseu</string>
			<string>cause</string>
		</array>
		<array>
			<string>mkae</string>
			<string>make</string>
		</array>
		<array>
			<string>cainh</string>
			<string>chain</string>
		</array>
		<array>
			<string>aohsc</string>
			<string>chaos</string>
		</array>
		<array>
			<string>pererap</string>
			<string>prepare</string>
		</array>
		<array>
			<string>rificorh</string>
			<string>horrific</string>
		</array>
		<array>
			<string>ediblerinc</string>
			<string>incredible</string>
		</array>
		<array>
			<string>sapt</string>
			<string>past</string>
		</array>
		<array>
			<string>senrtpe</string>
			<string>present</string>
		</array>
		<array>
			<string>fosedcun</string>
			<string>confused</string>
		</array>
		<array>
			<string>yonenad</string>
			<string>annoyed</string>
		</array>
		<array>
			<string>hebvea</string>
			<string>behave</string>
		</array>
		<array>
			<string>samoinn</string>
			<string>mansion</string>
		</array>
		<array>
			<string>huoes</string>
			<string>house</string>
		</array>
		<array>
			<string>cndoo</string>
			<string>condo</string>
		</array>
		<array>
			<string>ahcbe</string>
			<string>beach</string>
		</array>
		<array>
			<string>finourm</string>
			<string>uniform</string>
		</array>
		<array>
			<string>meat</string>
			<string>team</string>
		</array>
		<array>
			<string>ceoan</string>
			<string>ocean</string>
		</array>
		<array>
			<string>esroh</string>
			<string>shore</string>
		</array>
		<array>
			<string>pahyp</string>
			<string>happy</string>
		</array>
		<array>
			<string>ads</string>
			<string>sad</string>
		</array>
		<array>
			<string>ldim</string>
			<string>mild</string>
		</array>
		<array>
			<string>oth</string>
			<string>hot</string>
		</array>
		<array>
			<string>diuemm</string>
			<string>medium</string>
		</array>
		<array>
			<string>rizonoh</string>
			<string>horizon</string>
		</array>
		<array>
			<string>reentc</string>
			<string>center</string>
		</array>
		<array>
			<string>deeg</string>
			<string>edge</string>
		</array>
		<array>
			<string>litterb</string>
			<string>brittle</string>
		</array>
		<array>
			<string>imd</string>
			<string>dim</string>
		</array>
		<array>
			<string>ihgbtr</string>
			<string>bright</string>
		</array>
		<array>
			<string>licoaypcatp</string>
			<string>apocalyptic</string>
		</array>
		<array>
			<string>stirmueo</string>
			<string>moisture</string>
		</array>
		<array>
			<string>dumih</string>
			<string>humid</string>
		</array>
		<array>
			<string>zeerbe</string>
			<string>breeze</string>
		</array>
		<array>
			<string>satm</string>
			<string>mast</string>
		</array>
		<array>
			<string>bato</string>
			<string>boat</string>
		</array>
		<array>
			<string>chaty</string>
			<string>yacht</string>
		</array>
		<array>
			<string>rotsm</string>
			<string>storm</string>
		</array>
		<array>
			<string>nedmicei</string>
			<string>medicine</string>
		</array>
		<array>
			<string>iolsapht</string>
			<string>hospital</string>
		</array>
		<array>
			<string>yneocmo</string>
			<string>economy</string>
		</array>
		<array>
			<string>raveb</string>
			<string>brave</string>
		</array>
		<array>
			<string>gcaoseouur</string>
			<string>courageous</string>
		</array>
		<array>
			<string>notgrs</string>
			<string>strong</string>
		</array>
		<array>
			<string>kwea</string>
			<string>weak</string>
		</array>
		<array>
			<string>dormib</string>
			<string>morbid</string>
		</array>
		<array>
			<string>needkisc</string>
			<string>sickened</string>
		</array>
		<array>
			<string>eresmito</string>
			<string>tiresome</string>
		</array>
		<array>
			<string>radug</string>
			<string>guard</string>
		</array>
		<array>
			<string>lomewohes</string>
			<string>wholesome</string>
		</array>
		<array>
			<string>deenaratgu</string>
			<string>guaranteed</string>
		</array>
		<array>
			<string>lcsays</string>
			<string>classy</string>
		</array>
		<array>
			<string>nirgd</string>
			<string>grind</string>
		</array>
		<array>
			<string>teals</string>
			<string>steal</string>
		</array>
		<array>
			<string>iglrl</string>
			<string>grill</string>
		</array>
		<array>
			<string>tanyratsoi</string>
			<string>stationary</string>
		</array>
		<array>
			<string>saitct</string>
			<string>static</string>
		</array>
		<array>
			<string>uslteap</string>
			<string>pulsate</string>
		</array>
		<array>
			<string>rinkb</string>
			<string>brink</string>
		</array>
		<array>
			<string>torodun</string>
			<string>orotund</string>
		</array>
		<array>
			<string>rsuatoseu</string>
			<string>trousseau</string>
		</array>
		<array>
			<string>tastue</string>
			<string>astute</string>
		</array>
		<array>
			<string>rmaedtdooon</string>
			<string>rodomontade</string>
		</array>
		<array>
			<string>tahiocc</string>
			<string>chaotic</string>
		</array>
		<array>
			<string>rsleeiu</string>
			<string>leisure</string>
		</array>
		<array>
			<string>ttxleeaiipov</string>
			<string>exploitative</string>
		</array>
		<array>
			<string>mranioch</string>
			<string>harmonic</string>
		</array>
		<array>
			<string>blisier</string>
			<string>risible</string>
		</array>
		<array>
			<string>rdmaeeno</string>
			<string>demeanor</string>
		</array>
		<array>
			<string>rbdhate</string>
			<string>breadth</string>
		</array>
		<array>
			<string>machsia</string>
			<string>chamisa</string>
		</array>
		<array>
			<string>ctehci</string>
			<string>hectic</string>
		</array>
		<array>
			<string>rapses</string>
			<string>sparse</string>
		</array>
		<array>
			<string>toxice</string>
			<string>exotic</string>
		</array>
		<array>
			<string>ropuing</string>
			<string>pouring</string>
		</array>
		<array>
			<string>beelallam</string>
			<string>malleable</string>
		</array>
		<array>
			<string>blatcemeci</string>
			<string>emblematic</string>
		</array>
		<array>
			<string>risatlica</string>
			<string>satirical</string>
		</array>
		<array>
			<string>npiac</string>
			<string>panic</string>
		</array>
		<array>
			<string>neal</string>
			<string>lane</string>
		</array>
		<array>
			<string>nrashes</string>
			<string>harness</string>
		</array>
		<array>
			<string>roseh</string>
			<string>horse</string>
		</array>
		<array>
			<string>erasecin</string>
			<string>increase</string>
		</array>
		<array>
			<string>trisinym</string>
			<string>ministry</string>
		</array>
		<array>
			<string>rinppleci</string>
			<string>principle</string>
		</array>
		<array>
			<string>natiosb</string>
			<string>bastion</string>
		</array>
		<array>
			<string>servoin</string>
			<string>version</string>
		</array>
		<array>
			<string>fiitervinoac</string>
			<string>verification</string>
		</array>
		<array>
			<string>fistiacp</string>
			<string>pacifist</string>
		</array>
		<array>
			<string>rianidem</string>
			<string>meridian</string>
		</array>
		<array>
			<string>shimonteunr</string>
			<string>nourishment</string>
		</array>
		<array>
			<string>cousirep</string>
			<string>precious</string>
		</array>
		<array>
			<string>cnbgilmi</string>
			<string>climbing</string>
		</array>
		<array>
			<string>roadb</string>
			<string>board</string>
		</array>
		<array>
			<string>sagls</string>
			<string>glass</string>
		</array>
		<array>
			<string>tomsipen</string>
			<string>nepotism</string>
		</array>
		<array>
			<string>veaeh</string>
			<string>heave</string>
		</array>
		<array>
			<string>yrep</string>
			<string>prey</string>
		</array>
		<array>
			<string>laih</string>
			<string>hail</string>
		</array>
		<array>
			<string>live</string>
			<string>vile</string>
		</array>
		<array>
			<string>live</string>
			<string>veil</string>
		</array>
		<array>
			<string>kerba</string>
			<string>break</string>
		</array>
		<array>
			<string>ungodr</string>
			<string>ground</string>
		</array>
		<array>
			<string>leph</string>
			<string>help</string>
		</array>
		<array>
			<string>iidlv</string>
			<string>livid</string>
		</array>
		<array>
			<string>aoptylyhncr</string>
			<string>lycanthropy</string>
		</array>
	</array>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
